@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap'); 

.card-overflow {
    overflow-y: auto;
}

.card-overflow::-webkit-scrollbar {
    width: 0px;
}

.card-overflow::-webkit-scrollbar-thumb {
    background-color: #004C42;
}

.card-overflow::-webkit-scrollbar-track {
    background-color: #E1E6D9;
}